
.first-section{
    text-align: justify;
    background-color: rgb(213 218 221);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    width: 75%;
    height: 180px;
    margin-left: 300px;
}
.first-section:hover{

}
.first-section > h1{
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-section > p{
    margin-left: 90px;
    margin-right: 150px;
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table {
    display: block;
    background-color: aquamarine;
    position: fixed;
    height: 100%;
    width: 300px;
}

ul{
    overflow: scroll;
    text-decoration: none;
}

li{
    list-style: 1;
    margin-bottom: 29px;
}

li > a{
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
    transition: 0.3s;
    font-size: 20px;
}
#first{
    text-decoration: underline;
}