body{
    /* background-color: #4a6285; */
    opacity: 100%;
}
nav{
    display: flex;
    background-color: #ffffff;
    border: #c7c6c6;
    box-shadow: 2px 2px 2px rgb(241, 216, 216);
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 75%;
    height: 50px;
    gap: 65px;
}

li{
    cursor: pointer;
    margin-top: 12.5px;
}
li:hover{
    color: rgb(195, 0, 255);
    font-size: 25px;
    transition: 0.2s;
    text-decoration: underline;
}
.settings{
    position: relative;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 150px;
    cursor: pointer;
    /* background-color: aqua; */

}
.side{
    position: relative;
    /* background-color: aqua; */
    margin-top: 18px;
    margin-left: 245px;
    height: 52px;
    width: 22px;
    border-radius: 50%;

}
.hiden > p {
    margin-left: 3px;
}
.hiden{
    background-color: #4a6285;
    border: 1px solid rgb(129 160 255);
    box-shadow: 2px 2px 2px rgb(129 160 255);
    display: none;
    position: absolute;
    width: 190px;
    height: 250px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    margin-left: -150px;
}
.hiden > p:hover{
    text-decoration: underline;
    transition: 0.4s;
    font-size: 23px;
    color: aquamarine;
    cursor: pointer;
}
.side:hover .hiden{
    display: block;
}
.image{
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    margin-left: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.image > img{
    border-radius: 50%;
    height: 72px;
    width: 75px;
}

.image > p{
    position: absolute;
    margin-top: 29px;
    margin-left: 85px;
    font-size: 18px;
}
