body{
    background-image: linear-gradient(to bottom, red, yellow);
    opacity: 100%;
}
nav{
    display: flex;
    background-color: #bcbfc1;
    border: #c7c6c6;
    box-shadow: 2px 2px 2px rgb(241, 216, 216);
    height: 75px;
    position: sticky;
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 75%;
    height: 50px;
    gap: 75px;
}

li{
    cursor: pointer;
    margin-top: 12.5px;
}
li:hover{
    color: rgb(195, 0, 255);
    font-size: 19px;
    transition: 0.2s;
    text-decoration: underline;
}

.image{
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    margin-left: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.image > img{
    border-radius: 50%;
    height: 72px;
    width: 75px;
}

.image > p{
    position: absolute;
    margin-top: 29px;
    margin-left: 85px;
    font-size: 18px;
}
.main-heading{
    text-align: center;
    color: purple;
    margin-top: 30px;
}
.main-heading:hover{
    text-decoration: underline;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

/* Phone */
@media (max-width: 480px) {
  .container {
    display: block;
  }
  .fisrt-three {
    margin-top: 20px;
    max-width: 385px;
    width: 100%;
  }
}

.all-in-one{
    width: 25%;
    height: 345px;
    border: 1px white;
    border-radius: 20px;
}
.first-div{
    margin-left: 10%;
    background-color: black;
    color: white;
    
}
.second-div{
    background-color: aquamarine;
    color: pink;
}
.third-div{
    background-color: rgb(0, 0, 0);
    color: pink;
}
.fourth-div{
    margin-left: 10%;
    background-color: #bcbfc1;
}
.five-div{
    background-color: green;
}
.six-div{
    background-color: aquamarine;
}
.fisrt-three{
    margin-top: 20px;
}

.last-three{
    margin-bottom: 20px;
}
.inner-div{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.inner-div > p{
    font-size: 17px;
    text-align:justify;
    margin-left: 18px;
    margin-right: 9px;
    color: #ffffff;
}

.inner-div > p > a{
    color: red;
    text-decoration: none;
}