body{
    background-image:  linear-gradient(to bottom, red, yellow);
    background-repeat: no-repeat;
    background-size: contain;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}
.retto{
    height: 10px;
    width: 10px;
    color: blue;
}
.first-container{
    text-align: center;
    /* background-color: red; */
    color: white;
    height: 150px;
}

.first-container > h1{
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-container > p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.mid-image > * {
    position: relative;
    z-index: 2;
}


.images{
    display: flex;
    flex-direction: row;
    margin-left: 39%;
    /* background-color: rgb(184, 184, 145); */
}
.images > img{
    border: 10px solid #ffc864;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
    
}
.images > img:nth-child(1){
    position: static;
}
.images > img:nth-child(2){
    z-index: 1;
    margin-left: -4%;
    margin-top: -1.5%;
    height: 200px;
    width: 200px;
}
.images > img:nth-child(3){
    z-index: 0;
    margin-left: -4%;
}

.price-list{
    display: flex;
    flex-direction: row;
    /* background-color: cyan; */
    gap: 26%;
    margin-left: 115px;
    margin-top: 25px;
}
.p-tag{
    text-align: center;
    background-color: rgb(122, 122, 4);
    height: 50px;
    color: white;
    width: 150px;
    position: relative;
    border-radius: 30px;
    border: 5px solid rgb(122, 122, 4);
}
.p-tag > p{
    text-align: center;
}
.others-info{
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(3,1fr);
}

.first-inner-container{
    color: red;
    flex-direction:row;
    margin-left: 130px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-inner-container > pre >span{
    margin-left: 150px;
    color: rgb(240, 240, 240);
}
.first-container > pre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.others-food-menu{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-left: 40%;
    margin-top: 16.8%;
}
.second-inner-container{
    color: red;
    flex-direction:row;
    margin-left: 130px;
    font-size: 30px;
    margin-top: 150px;
}
.last{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.nothing{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
}
.nothing > span{
    margin-left: 130px;
    color: cyan;
    color: cyan;
    margin-top: 4px;
    margin-left: 80%;
    display: flex;
    font-size: 25px ;
}
.nothing > p{
    position: relative;
    display: flex;
    margin-top: 7px;
    margin-left: 11px;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 34%;
}

.social-media > span {
    display: flex;
    font-family: "Font Awesome 6 Brands";
    color: cyan;
    gap: 20px;
    margin-left: 40px;
}

.social-media > span > a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cyan;
    margin-left: 2px;
}

@media (max-width: 480px) {
    .price-list,
    .first-inner-container,
    .second-inner-container,
    .p-tag,
    .social-media{
        margin-left: 0;
        justify-content: center;
    }
    
    .first-container{
        width: 100%;
    }
    .first-container >h1{
        text-align: center;
        
    }
    .first-container > p{
        font-size: 20px;
        text-align: center;
    }
    .mid-image{
        text-align: center;
    }
    .images{
        margin-left: 20%;
        position: relative;
    }
    .images >img{
        /* border-radius: 5px solid #ffc854; */
        border: 5px solid yellow;
        height: 50px;
        width: 50px;
        position: relative;
    }
    .images > img:nth-child(1){
        position: static;
    }
    .images > img:nth-child(2){
        width: 60px;
        height: 60px;
    }
    .price-list {
        display: flex;
        flex-direction: row; /* vertical stacking */
        align-items: center; /* center horizontally */
        gap: 10px; /* space between items */
        margin: 18px;
        margin-left: -59px;
    }

    .p-tag {
        width: 120px;      /* smaller width for mobile */
        height: 40px;      /* smaller height */
        font-size: 14px;   /* readable font size */
        margin: 0;         /* remove previous margin */
    }

    .p-tag{
    width: 105%;          
    max-width: 64px;   
    height: 8px;  
    display: flex;
    flex-direction: row;
    gap: 10px;  
    margin: 0px 21px -18px;
    justify-content: center; 
    align-items: center;
    }
    .p-tag > p {
    margin-top: 20px; 
    text-align: center;
        }
    .others-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }
    .first-inner-container{
        margin-left: 3px;
        font-size: 10px;
        color: white;
        height: 99px;
        /* background-color: cyan; */
    }
    .first-inner-container > pre > span{
        margin-left: 5px;
        color: green;
    }
    .others-food-menu{
        color: white;
        font-size: 15px;
        /* position: relative; */
        margin-top: 82px;
        margin-left: 152px;
        
    }
    .second-inner-container{
        margin-top: 15px;
        font-size: 10px;
        color: white;
        /* background-color: yellow; */
        height: 91px;
    }
    .second-inner-container > pre{
        display: inline;
    }
    .second-inner-container > pre > span{
        margin-left: 20px;
    }
    .nothing{
        margin-left: -8%;
        margin-top: -1.8%;
    }
    .nothing > span{
        display: flex;
        font-size: 9px;

    }
    .nothing > span > p{
        margin-left: 0%;
        font-size: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .number{
        font-size: 8px;
        margin-left: -15px;
        color: white;
    }
    .last{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .social-media{
        gap: 0px;
        margin-left: 25%;
        
    }
    .social-media > span{
    font-size: 8px;
    gap: 0;
    }
    .social-media > span:nth-child(1){
        margin-left: 15px;
    }
    .social-media > span > a{
    margin-left: 4px;
    font-size: 8px;
    

    }
}