body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
nav{
    position: sticky;
    display: grid;
}
li{
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-flex;
    font-size: 35px;
    margin-left: 45%;
    color: rgb(104, 185, 185);
    position: sticky;
}
.main-body{
    width: 100%;
    height: 800px;
    display: grid;
}
.image{
    width: 100%;
    display: grid;
    gap: 50px;
    height: 800px;
}
.image img{
    height: 900px;
    width: 975px;
    padding: 2px;
    margin-top: 25px;
}
.txt{
    background-color: aliceblue;
    display: flex;
}

aside{
    margin-left: 1000px;
    margin-top: -775px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    margin-top: 150px;
    height: 500px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    /* background-color: rgb(104, 25, 25);  */
}
.contract-text{
    margin-left: 10%;
    padding: 1%;
    margin-top: 15px;
    margin-right: 5%;
    margin-left: 38%;
    /* background-color: beige; */
}
.contract-us{
    font-size: 30px;
    color: whitesmoke;
}
.facebook{
    border: 1px black;
    
}
.facebook img{
    width: 30px;
    height: 30px;
    margin-left: 29px;
    margin-top: 15px;
    background-color: blue;
}
.facebook a{
    text-decoration: underline;
    color: rgb(240, 103, 103);
    font-size: 35px;
    margin-left: 8px;
}
.facebook-text{
    margin-top: 10px;
    display: grid;
}
.facebook-lnk{    
    display: grid;
    /* background-color: rgb(0, 0, 0); */
    margin-left: 65px;
    width: 350px;
    margin-top: -38px;

}
.findus{
    margin-left: 70px;
    font-size: 50px;
}