body{
    background-color: bisque;
}

nav{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    text-decoration: none;
    flex-direction: column;
    background-color: #3b0e97;
}
ul{
    gap: 50px;
    float: left;
    text-decoration: none;
    list-style: none;
    margin-left: 60%;
    width: 650px;
    margin-right: 15%;
    display: inline-flex;
    
}
li > a{
    color: wheat;
    text-decoration: none;
    font-size: 25px;
}
li > a:hover{
    color: white;
}
/* DO NOT CHANGED */
.container {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1700px;
    height: 800px;
    margin-left: 5%;
    margin-right: 5%;
    gap: 45px;
    padding: 2%;
    perspective: 1000px;
}

/* card box size */
.card-box {
    width: 475px;
    height: 280px;
    position: relative;
}

/* flip card */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

/* hover flip */
.card-box:hover .card {
    transform: rotateY(180deg);
}

/* front & back */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.front-english {
    color: green;
}

.english-book {
    height: 200px;
    margin-right: 200px;
}

/* back side */
.back {
    transform: rotateY(180deg);
}

/* colors */
.English .front {
    background-color: rgb(55, 70, 70);
    color: black;

}

.English .back {
    background-color: teal;
}

.Economic .front {
    background-color: rgb(48, 75, 75);
}

.Economic .back {
    background-color: rgb(20, 50, 50);
}

.Account .front {
    background-color: rgb(71, 219, 219);
    color: black;
}

.Account .back {
    background-color: rgb(30, 160, 160);
}

.finance .front {
    background-color: rgb(16, 116, 116);
}

.finance .back {
    background-color: rgb(10, 80, 80);
}

.stat .front {
    background-color: rgb(1, 87, 87);
}

.stat .back {
    background-color: rgb(0, 60, 60);
}

.english-text {
    height: 250px;
}

.text {
    font-size: 20px;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    cursor: pointer;
}

.english-button {
    background-color: rgb(10, 128, 128);
    border: 1px solid rgb(11, 140, 129);
    border-radius: 50px;
    color: black;
    width: 350px;
    height: 50px;
    margin-top: 5%;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
}

.english-button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 80px;
    color: black;
    text-align: center;
}

.english-child-button {
    text-decoration: none;
}

.pricing{
    background-color: #eddac0;
    display: flex;
    gap: 250px;
    height: 548px;
    width: 100%;
}

.basic{
    background-image: url('https://plus.unsplash.com/premium_photo-1686071978237-045211ad85ec?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 75%;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 450px;
    width: 40vh;
    height: 50vh;
    border-radius: 50px;
}

.topic{
    border-radius: 150px;
    height: 46px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.premium{
    background-color: aliceblue;
    background-image: url('https://images.unsplash.com/photo-1541508192692-fb4411245d36?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
    margin-right: 250px;
    width: 40vh;
    height: 50vh;
    border-radius: 50px;
}
.first{
    margin-top: 5%;
    display: flex;
    margin-left: 36%;
}
.pricing-basic-body{
    margin-top: 5%;

}
.pricing-basic-body > p{
    color:white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pricing-basic-footer > button{
    cursor: grab;
    margin-left: 25px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    margin-bottom: 150px;
    margin-top: 50px;
    width: 85%;
    border: 1px solid white;
    box-shadow: 2px 2px 2px wheat;
    border-radius: 20px;
}
.pricing-basic-footer > button > a{
    text-decoration: none;
    margin-left: 30%;
    margin-top: 10px;
}
.pricing-basic-footer > button:hover{
    background-color: aquamarine;
    color: black;
    transition: 0.6;
}
.six{
    margin-top: 1px;
    display: grid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}