body{
    /* background-color: black; */
    color: white;
    background-image:  url('https://static.vecteezy.com/system/resources/previews/030/615/958/large_2x/black-minimalist-wallpaper-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
nav{
    color: white;
}


.text-center > p, .text-center> h1{
    color: white;
    
}
.mid-text{
    display: block;
    margin-top: 15%;
}

.my-thing {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}

.my-button {
    color: white;
    background-color: rgb(52, 177, 235);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.my-button:hover {
    transform: scale(1.05); /* slight grow effect */
    box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.4); /* subtle glow */
}
.social-media {
    position: fixed; /* so it stays while scrolling */
    top: 50%;        /* vertically centered */
    right: 0;        /* stick to the right edge */
    background-color: black;
    padding: 10px;
    border-radius: 8px 0 0 8px; /* rounded left side */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;       /* space between icons */
}

.social-media > i {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}
.social-media a {
    display: flex;
    color: white;
    font-size: 25px;
    margin: 10px 0; /* spacing between icons */
    transition: transform 0.2s, color 0.2s;
}

.social-media a:hover {
    transform: scale(1.2);
    color: red;
}

.see-others{
    font-size: 20px;
    margin-left: 5px;
}
