body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
nav{
    position: sticky;
    display: grid;  
}
li{
    background: linear-gradient(90deg, #7a3333, #cf7d02, #00ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-flex;
    font-size: 35px;
    margin-left: 45%;
    color: rgb(104, 185, 185);
    position: sticky;
}
.main-body{
    width: 100%;
    height: 800px;
    display: grid;
    grid-auto-flow: column;
    float: left;
}
.image{
    width: 100%;
    display: grid;
    gap: 50px;
    height: 800px;
}
.image img{
    height: 900px;
    width: 975px;
    padding: 2px;
    margin-top: 25px;
}
.txt{
    /* background-color: aliceblue; */
    display: flex;
}

aside{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 36px;
    height: 500px;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
