body{
    background-color: black;
}
.my-image{
    border-radius: 50px;
}
.discount{
    position: absolute;
    display: flex;
    z-index: 1;
    margin-left: 16.8%;
    margin-top: -1%;
}
.discount > img{
    height: 50px;
    width: 50px;
}
.discount > p{
    text-align: center;
    position: absolute;    
    margin-left: 9px;
    margin-top: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, yellow,green);
    background-clip: text;
    color: transparent;
}
.null{
    /* background-color: red; */
    border: 1px solid white;
    border-radius: 25px;
}
.flex.flex-wrap > div {
    box-sizing: border-box; /* include border in width */
    border: 1px solid white; /* border without breaking layout */
    border-radius: 25px; /* optional rounded corners */
    padding: 0.5rem; /* optional spacing inside */
}

.image > img{
    margin-top: 0%;
    height: 100%;
    width: 100%;
}
.center{
    text-align: center;
    position: relative;
    margin-top: 5px;
}

.center > a{
    display: flex;
    color: white;
    font-size: 35px;
    position: absolute;
    margin-left: 40%;
    margin-top: 17px;
    text-decoration: underline;
    cursor: pointer;
    text-shadow:
        calc(var(--x, 0px) * 0.05) calc(var(--y, 0px) * 0.05) 15px cyan;
    transition: text-shadow 0.05s linear;
    transition: 0.2s;
}
.price-text{
    font-style: italic;
}
.special-images{
    border-radius: 15px;
    transition: 0.5s;
}
/* .special-images:hover{
    transform: rotateZ(2deg);
} */
.buy-now > a {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 12px auto 0;

    padding: 6px 0;
    text-align: center;

    font-size: 14px;
    font-weight: 500;

    color: green;
    background-color: black;
    border: 2px solid rgb(1, 110, 1);
    border-radius: 15px;

    transition: 0.2s;
}

.buy-now > a:hover{
    font-size: 18px;
}
.buy-now > p{
    color: whitesmoke;
}
.small-details > p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 /* The Product Page Css */
